<div class="form-group">
    <label class="col-sm-2 control-label" for="appLang">
        <i class="fa fa-cloud"></i> {{ i18n('Language') }}
    </label>
    <div class="col-sm-10">
        <select class="form-control" name="appLang" id="appLang">
        <% _.forEach(locales, function (val, locale) { %>
        <option value="{{ locale }}"{{ isLocaleActive(locale) }}>{{ i18n(locale) }}</option>
        <% }); %>
        </select>
    </div>
</div>

<div class="form-group">
    <label class="col-sm-2 control-label" for="cloudStorage">
        <i class="fa fa-cloud"></i> {{ i18n('Cloud storage') }}
    </label>
    <div class="col-sm-10">
        <select class="form-control show-onselect" data-option="dropbox" name="cloudStorage" id="cloudStorage">
            <option value="0">{{ i18n('No') }}</option>
            <option data-show="#group-dropboxKey" value="dropbox"<% if(models.cloudStorage === 'dropbox'){ %> selected<% } %>>Dropbox</option>
            <option value="remotestorage"<%if(models.cloudStorage === 'remotestorage'){ %> selected<% } %>>RemoteStorage</option>
        </select>
    </div>
</div>

<div class="form-group <% if (models.cloudStorage !== 'dropbox') { %> hidden<% } %>" id="group-dropboxKey">
    <label class="col-sm-2 control-label" for="dropboxKey">
        <span class="pull-left">{{ i18n('Dropbox API key') }}</span>
        <button type="button" class="btn btn-link popover-key" role="button" data-title="Dropbox API Key" data-container="#group-dropboxKey">?</button>
    </label>
    <div class="col-sm-10">
        <input id="dropboxKey" type="text" name="dropboxKey" class="form-control" value="{{ models.dropboxKey }}" placeholder="<% if(dropboxKeyNeed) { %>{{ 'Required!' }}<% } else { %>{{'Optional'}}<% } %>" />
    </div>
    <div class="popover-dropbox hidden">
        <p>You can have your own API key <a target="_blank" href="https://www.dropbox.com/developers/apps">here</a>.</p>
        <p>When you create a new app at Dropbox's Developer site you should keep in mind that:</p>
        <ol>
            <li>Type of app should be <b>Dropbox API app</b></li>
            <li>Type of data should be <b>Files and datastores</b></li>
        </ol>
    </div>
</div>

<div class="form-group">
    <label class="col-sm-2 control-label" for="pagination">{{ i18n('Notes per page') }}</label>
    <div class="col-sm-10">
        <input type="text" id="pagination" name="pagination" value="{{models.pagination}}" class="form-control" >
    </div>
</div>

<div class="form-group">
    <label class="col-sm-2 control-label" for="sortnotebooks">{{ i18n('Sort notebooks') }}</label>
    <div class="col-sm-10">
        <select id="sortnotebooks" class="form-control" name="sortnotebooks" checked="{{models.sortnotebooks}}">
            <option value="name">{{ i18n('Name') }}</option>
            <option value="id" <%if(models.sortnotebooks === 'id'){%>selected<%}%>>{{ i18n('Created') }}</option>
        </select>
    </div>
</div>

<div class="form-group">
    <label class="col-sm-2 control-label" for="editMode">{{ i18n('Default edit mode') }}</label>
    <div class="col-sm-10">
        <select id="editMode" class="form-control" name="editMode" checked="{{models.editMode}}">
            <option value="normal">{{ i18n('Normal') }}</option>
            <option value="fullscreen" <%if(models.editMode === 'fullscreen'){%>selected<%}%>>{{ i18n('Fullscreen') }}</option>
            <option value="preview" <%if(models.editMode === 'preview'){%>selected<%}%>>{{ i18n('Fullscreen with preview') }}</option>
        </select>
    </div>
</div>

<div class="form-group">
    <label class="col-sm-2 control-label" for="useEncryption">{{ i18n('Use encryption') }}</label>
    <div class="col-sm-10 checkbox">
         <label class="control-label">
             <input id="useEncryption" class="showField" data-field="#encryptOpt" type="checkbox" name="encrypt" <% if(models.encrypt === 1) { %> checked<% } %> >
             {{ i18n('Yes') }}
         </label>
    </div>
</div>

<fieldset id="encryptOpt" class="<% if(models.encrypt === 0) { %>hidden<% } %>">
    <legend>{{ i18n('Encryption parameters') }}</legend>
    <div class="form-group">
        <label class="col-sm-2 control-label" for="encryptPass">{{ i18n('Encryption Password') }}</label>
        <div class="col-sm-10">
            <input type="password" id="encryptPass" name="encryptPass" value="{{models.encryptPass}}" class="form-control" >
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label" for="encryptSalt">{{ i18n('Salt') }}</label>
        <div class="col-sm-10">
            <input type="text" name="encryptSalt" id="encryptSalt" value="{{models.encryptSalt}}" class="form-control" >
            <a id="randomize" href="#">{{ i18n('Random') }}</a>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label" for="encryptIter">{{ i18n('Strengthen by a factor of') }}</label>
        <div class="col-sm-10">
            <input type="text" name="encryptIter" id="encryptIter" value="{{models.encryptIter}}" class="form-control" >
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label" for="encryptKeySize">{{ i18n('Key size') }}</label>
        <div class="col-sm-10">
            <select class="form-control" name="encryptKeySize" id="encryptKeySize">
                <option value="128"<%if(models.encryptKeySize === '128'){ %> selected<% } %>>128</option>
                <option value="192"<%if(models.encryptKeySize === '192'){ %> selected<% } %>>192</option>
                <option value="256"<%if(models.encryptKeySize === '256'){ %> selected<% } %>>256</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label" for="encryptTag">{{ i18n('Authentication strength') }}</label>
        <div class="col-sm-10">
            <select class="form-control" name="encryptTag" id="encryptTag">
                <option value="64"<%if(models.encryptTag === '64'){ %> selected<% } %>>64</option>
                <option value="96"<%if(models.encryptTag === '96'){ %> selected<% } %>>96</option>
                <option value="128"<%if(models.encryptTag === '128'){ %> selected<% } %>>128</option>
            </select>
        </div>
    </div>
</fieldset>
